.primary {
    padding: .8em;
    background-color: var(--primary);
    color: #fff;
    outline: none;
    border: none;
    border-radius: .3rem;
    min-width: 70px;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.primary:hover{
    background-color: var(--secondary);
}


.primary:active {
    background-color: var(--secondary);
}

.secondary {
    padding: .8em;
    background-color: transparent;
    color: rgb(224, 224, 224);
    outline: none;
    border: none;
    border-radius: .3rem;
    min-width: 70px;
    cursor: pointer;
    transition: color .3s ease-in-out;
    text-decoration: underline;
}

.secondary:hover{
    color: var(--text-color);
}


.secondary:active {
    color: var(--text-color);
}