.btnPrimary {
    padding: .8em;
    background-color: var(--rust-blood);
    color: #fff;
    outline: none;
    border: none;
    border-radius: .3rem;
    min-width: 70px;
    transition: background .3s ease-in-out;
}

.btnPrimary:hover{
    background-color: var(--rust-blood-hl);
}


.btnPrimary:active {
    background-color: var(--rust-blood-hl);
}