.content {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #242c37;
}

.ui {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 235px 640px 325px;
    column-gap: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.left {
    display: inline-grid;
}

.feed {
    display: inline-grid;
}

.right {
    display: inline-grid;
}

.logo {
    width: 168px;
    height: 40px;
    margin-bottom: -1.5px;
    margin-left: 2px;
    background-image: url('/logo_temp.svg');
    background-size: cover;
    display: inline-block;
}

.av {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: flex-start;
}