.tabbar {
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    background: var(--darkle-bright-2);
}

.tab {
    width: 100%;
    text-align: center;
    height: 60px;
}

.icon {
    width: 1.3em;
    height: 60px;
    color: white;
}

.tab.active .icon{
    color: var(--rust-blood);
}