.tabbar {
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    background: var(--darkle-bright-2);
}

.tab {
    width: 100%;
    text-align: center;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: .3em solid var(--darkle-bright-3);
}

.icon {
    width: 1.3em;
    height: 60px;
    color: white;
}

.tab.active{
    border-top: 0.3em solid var(--rust-blood);
}