.tabbar {
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    background: var(--primary-bg);
}

.tab {
    width: 100%;
    text-align: center;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--border-grey);
}

.icon {
    width: 1.25em;
    height: 60px;
    color: white;
}

.tab.active .icon{
    color: var(--primary);
}