.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    backdrop-filter: brightness(0.5);
    top: 0;
    left: 0;
    z-index: 100000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popout {
    background: var(--darkle-bright-1);
    min-width: 200px;
    width: 60%;
    max-width: 400px;
}

.content{
    width: 100%;
    height: 100%;
    padding: 1.2rem 1.2rem 0 1.2rem;
}

.bottom {
    background: var(--darkle-bright-2);
    padding: .7rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 1.2rem;
}

@media screen and (max-width: 600px) {
    .popout{
        width: 90%;
    }
}