.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    backdrop-filter: brightness(0.5);
    top: 0;
    left: 0;
    z-index: 100000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popout {
    padding: 1.2rem 1.2rem 0 1.2rem;
    background: var(--darkle);
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
}

.bottom {
    background: var(--darkle-light-1);
    padding: .3rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 1.2rem;
}