.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
}

.item {
    display: inline;
    float: right;
    margin: 20px 20px 0 0;
}

.item a[href="/signup"]{
    background: #9d4d4d;
}

.item a[href="/login"]{
    background: #00000000;
}

.item a {
    display: block;
    padding: 8px;
    display: block;
    
    border-radius: 20em;
}

.item.icon {
    margin: 36px 0 0 0;
}

.item svg {
    width: 1.5em!important;
    height: 1.3em;
}

.item a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all ease .5s;
}

.icon a{
    padding: 0 10px 0 0;
}

.item svg {
    color: white;
    text-align: center;
    text-decoration: none;
    transition: all ease .5s;
}

.item a[href="/signup"]:hover {
    background: hsl(0, 34%, 36%);
}

.item a:not([href="/signup"]):hover {
    color: darkgrey;
}

.item svg:hover {
    color: darkgrey;
    cursor: pointer;
}

.logo {
    background-image: url('/logo.svg');
    height: 30px;
    width: 30px;
}