.noti {
    margin-bottom: 20px;
    display: grid;
    grid-template-areas:
        "icon text"
        "icon content";
    grid-gap: .5em;
    grid-template-columns: max-content;
}

.notinfo {
    display: flex;
    color: var(--border-grey);
    grid-area: text;
}

.content {
    grid-area: content;
}

.icon {
    grid-area: icon;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background: var(--rust-blood);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}