.cont {
    padding: .75em;
    border: none;
    border-radius: .5em;
    background: var(--primary-bg-hl-2);
    color: #fff;
    width: 100%;
}

.editable {
    width: 100%;
    padding: 0;
    margin: 0;
}

.editable:focus {
    outline: none;
    border: none;
}