.search {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #2f2935;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
}

.search:focus{
    outline: none;
}